* {
    font-family: 'Source Sans Pro';
}


/* Headers */

.negrita {
    background-image: url(images/pic_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.negrita2 {
    background-image: url(images/pic_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.monita {
    background-image: url(images/pic_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carrusel {
    /*pendiente*/
    position: absolute;
    width: 1440px;
    height: 392px;
    left: 0px;
    top: 1093px;
}


/* Fonts */

.negrilla {
    font-weight: bold;
}

.fon-coiny {
    font-family: 'Coiny';
}

.px14 {
    font-size: 14px;
}

.px18 {
    font-size: 18px;
}

.px32 {
    font-size: 32px;
}

.px44 {
    font-size: 44px;
}

.px60 {
    font-size: 60px;
}


/* Principal Colors */

.white {
    color: #fff;
}

.principal-color {
    color: #C271FF;
}

.bg-principal-color {
    background-color: #C271FF;
}

.bg-fritos {
    background-color: #071629;
}

.big-principal-title {
    font-size: 120px;
    color: #fff;
}

.principal-subtitle {
    font-size: 16px;
    color: #fff;
}

ul {
    color: #FFFFFF;
    align-items: flex-end;
}


/* carrusel de videos */

.tarjeta-video {
    width: 255px;
    height: 355px;
}

.play {
    margin: -110px 0 40px 85px;
}


/* pie glande */

.icono {
    font-size: 30px;
    color: white;
}

.transparencia {
    opacity: 0.35;
}


/* test colores */

.verde {
    background-color: green;
}

.gris {
    background-color: thistle;
}

.amarillo {
    background-color: yellow;
}

.linea {
    background-color: #979797;
    opacity: 0.2;
}